<div class="container bg-secondary text-dark text-center">
    <h2>Login Form</h2>
    <form class="w-50 mx-auto">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter your username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter your password">
      </div>
      <button type="submit" class="btn btn-primary" [routerLink]="['/products']">Login</button>
    </form>
  </div>
  